<div style="font-size: 32px;font-weight: 700;margin: 10px 10px 20px 10px">
  Tracking Plan Details
</div>
<div style="margin:10px;font-size:18px">
  <div> <b>ID:</b> <%= @tracking_plan.id %></div>
  <div> <b>Name:</b> <%= @tracking_plan.name %></div>
  <div> <b>Events:</b>
  <% @tracking_plan.events.each do |event| %>
      <div><%= link_to event.name, event_path(event) %></div>
    <% end %>
</div>
</div>

