<div class="page-layout simple tabbed">

  <!-- HEADER -->
  <div class="page-header bg-primary text-auto row no-gutters align-items-center justify-content-between p-6">
    <div class="row no-gutters align-items-center" style="margin-left: 30px;padding: 10px;">
     <div style="font-size: 32px;font-weight: 700;">Edit Event</div>
   </div>

  <button type="button" class="btn btn-light" onclick="submitForm()" style="margin-left:40px;">
    SAVE
  </button>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <%= render 'form', form_type: 'edit' %>
  <!-- / CONTENT -->
</div>
